*.o
*.a
*.so
*.gcov
*.gcda
*.gcno
proc.out
/src/external/nornir/*
/test/googletest/*
cppcheck-report.xml
demo/dump_jpeg/dump_jpeg
demo/http_pattern_matching/http_pm_mc
demo/http_pattern_matching/http_pm_seq
demo/protocol_identification/protocol_identification
demo/protocol_identification_mc/protocol_identification
test/testBGP
test/testDHCP
test/testDHCP6
test/testDNS
test/testHTTP
test/testNTP
test/testRTP
test/testSIP
test/testSMTP
test/testSSL
test/testSkype
test/testUtils
test/testSkipL7
